qdrant-client
langchain
langchain-core
langchain-ollama
langchain-text-splitters
sentence-transformers
markitdown~=0.1.4
markitdown[all]
torch
pypdf
python-docx
networkx
neo4j~=6.1.0
python-dotenv~=1.2.1